# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.env
.env.*
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/

# Docker
Dockerfile
docker-compose.yml
*.tgz

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
.idea/
.vscode/
*.egg
*.bak
*.tmp
*.orig

# Exclude test and coverage files
.coverage
htmlcov/
.tox/
.pytest_cache/

# Exclude requirements lock files
requirements*.txt
!requirements.txt
